
.textStyle{
        font-size: 18px;
        font-family: Athelas;
        color: Grey;
}

.headerTextStyle{
        font-size: 30px;
        font-family: Athelas;
        color: black;
        font-weight: bold;
}

.datepicker{
        width: 31%;
        margin-left: 305px;
}

.pullRight{
        margin-right: 40px;
}

.pullAmountRight{
        margin-left: 10px;
}

.pullAmountField{
        margin-right: -35px;
}

.imgSize{
        width: 42px;
        height: 42px;
}

.button {
    margin-top: 20px;
    margin-right: 90px;
    width: 110px;
    height: 27px;
    text-decoration-color: black;
    border-radius: 5px;
    font-weight: bold;
    border-color: grey;
    margin-bottom: 20px;
}
