
.textStyle{
        font-size: 18px;
        font-family: Athelas;
        color: Grey;
}

.headerTextStyle{
        font-size: 30px;
        font-family: Athelas;
        color: black;
        font-weight: bold;
}

.readLabelsTextStyle{
        font-size: 19px;
        color: black;
        font-weight: bold;
}

.button {
    margin-top: 20px;
    width: 100px;
    height: 27px;
    text-decoration-color: black;
    border-radius: 5px;
    font-weight: bold;
    border-color: grey;
    margin-bottom: 20px;
}
